.title {
    color: black;
    padding-top: 200px;
    font-size: 50px;
    font-weight: bold;
}

.modelos {
    text-transform: uppercase;
}

.container-title{
    height: 1000px;
}

.marca-icon {
    width: 450px;
    height: 450px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-auto-rows: minmax(300px,auto);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 300ms;
}

ul{
    margin-left: auto;
    margin-right: 50px;
    flex: 1;
}

.nav-marca {
    color:#fff;
    font-size: 40px;
    text-decoration: none;
    margin-left: 40px;
    cursor: pointer;
}

.nav-marca:hover {
    background-color: #0c1c54;
}

.nav-marca-active {
    background-color: #0c1c54;
}