.my-section{
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.brand-logo {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

img .brand-logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.marcas{
    margin-top: 100px;
}