.my-section{
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.my-title {
    text-align: left;
}

.brand-logo {
    
    cursor: pointer;
}

img .brand-logo {
    object-fit: cover;
}

.marcas{
    margin-top: 50px;
}