.my-header{
    position: fixed;
    height: 120px;
    z-index: 666;
    width: 100%;   
}

.my-navbar{
    background-color:#0c1c54;
    font-weight: bold;
    list-style-type: none;
    line-height: 50px; 
    height: 100px;
}

ul{
    margin-left: auto;
    margin-right: 50px;
    flex: 1;
}

.my-link{
    color:#fff;
    line-height:30px;
    font-size: 28px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.my-link:hover{
    font-weight: bold;
    color: #fff;
}
.bold {
    font-weight: bold;
}