
.title{
    color: black;
    padding-top: 200px;
    font-weight: bold;
    text-align: left;
    margin-left: 220px;
    margin-bottom: 40px;
}

.container-title{
    height: 1000px;
}

.brand-logo {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

img .brand-logo {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container .row {
    margin-bottom: 40px;
}