.contenedor{
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 5rem 1rem;
    flex-direction:column;
}


h1{
    display: flex;
    align-items:center;
    justify-content:center;

    font-size: 2rem;
    line-height: 1.5;
    flex-wrap: wrap;
    font-weight: bold;
    color: #4cc9f0;
}

h2{
    display: flex;
    align-items:center;
    justify-content:center;

    font-size: 1rem;
    text-align: center;
    font-weight: normal;
    display: flex;
    color: gray;
    margin: auto;  
}

.div-form{
    flex-direction: column;
    display: flex;
    align-items:center;
    justify-content:flex-start;
}

.elemento{
    margin: 0 0.5rem;
}

label{
    color: black;
    text-align: center;
    margin-left: 2rem;
    justify-content: center;
}

input{
    margin: 1rem 0;
    width:90%;
    padding: 1rem;  
    color: gray;
    border-radius: 5px;
    border-color: gainsboro;
    font-size: 20px;
}

.pregunta textarea{
    width:90%;
    color: gray;
    border-radius: 5px;
    border-color:1px solid(0,0,0,0.15);
    background-color: #fff;
    background-clip: padding-box;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    size:5rem;
    height: 12rem;
    margin: 1rem 1.5rem;
    padding: 1rem;
}

.promociones{
    text-align: center;
}

.label-promo{
    color: #000;
    text-align: center;
    font-size: 20px;
}

input[type="checkbox"]{
    margin-left: 0.5rem;
    padding: 1rem;
    transform: scale(2);
}

.elemento{
    text-align: center;
    justify-content: center;
}

input[type="submit"]{
    background-color: none;
    border:2px solid black;
    color: #000;        
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
    margin-top: 2rem;   
    width: 7rem;
    font-size: 1rem;
    font-weight: bold;    
    border-radius: 50px;
}

input[type="reset"]{
    background-color: none;
    border:2px solid black;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 7rem;
    font-size: 1rem;
    font-weight: bold;    
    border-radius: 50px;
}

