.footer{
    background-color:#080708;
    border-top: 10px solid #3B60E4;
    height: 6rem;
    padding: 3rem 0;
    flex-wrap: nowrap;
    left: 0;
    bottom: 0;
    width: 100%;
}

p{
    text-align: center; 
    font-size: 15px;
    color: #fff;
}